---
import CreateAccount from '../components/CreateAccount.astro';
import Footer from '../components/Footer.astro';
import NavLinks from '../components/NavLinks.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Simulación de Cajero ATM'>
  <main class='py-32'>
    <h1
      class='bg-gray-300 font-bold text-4xl py-2 ps-14 text-white drop-shadow-md'
    >
      <span class='drop-shadow-lg text-gray-600'>
        Bienvenido a tu Cajero Automático
      </span>
    </h1>
    <section class='flex'>
      <CreateAccount />
      <NavLinks />
    </section>
  </main>
  <Footer />
</Layout>
