---
import CreateAccount from '../components/CreateAccount.astro';
import Footer from '../components/Footer.astro';
import NavLinks from '../components/NavLinks.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Simulación de Cajero ATM'>
  <main class=''>
    <!-- Todo: Add clock time on top of the page -->
    <section class='flex flex-col md:flex-row'>
      <CreateAccount />
      <NavLinks />
    </section>
  </main>
  <Footer />
</Layout>
