---
import Footer from '../components/Footer.astro';
import NavLinks from '../components/NavLinks.astro';
import Layout from '../layouts/Layout.astro';
import Screen from '../components/Screen.astro'
---

<Layout title='Simulación de Cajero ATM'>
  <main class=''>
    <!-- Todo: Add clock time on top of the page -->
    <section class='flex'>
      <Screen />
      <NavLinks />
    </section>
  </main>
  <Footer />
</Layout>