<footer class='absolute bottom-8 ps-10'>
  <nav class='flex gap-5'>
    <a href='/como-depositar' class='hover:underline'>Cómo Depositar?</a>
    <a href='/como-retirar' class='hover:underline'>Cómo Retirar?</a>
    <a href='/como-transferir' class='hover:underline'>Cómo Transferir?</a>
  </nav>
</footer>
