<footer class='absolute bottom-8  text-white md:text-gray-900 flex flex-col md:flex-row justify-center w-full'>
  <h5 class="font-bold md:font-semibold text-lg md:text-base flex flex-grow md:justify-center text-gray-500 md:text-gray-500 ps-12 md:ps-0 mb-2 md:mb-0">Ayuda para...</h5>
  <nav class='flex gap-5 flex-grow items-center justify-center md:justify-start md:font-semibold md:text-gray-900/90'>
    <a href='/como-depositar' class='hover:underline'>Depositar</a>
    <a href='/como-retirar' class='hover:underline'>Retirar</a>
    <a href='/como-transferir' class='hover:underline'>Transferir</a>
  </nav>
  <div class="hidden md:display-flex md:flex-grow"></div>
</footer>
