<nav class='w-full flex justify-center items-center flex-col gap-3 mt-20'>
  <a
    href='/depositar'
    class='bg-gray-800 text-white p-2 rounded-sm w-52 text-center transition-colors duration-150 hover:bg-gray-800/70 hover:shadow-md'
    >Depositar</a
  >
  <a
    href='/retirar'
    class='bg-gray-800 text-white p-2 rounded-sm w-52 text-center transition-colors duration-150 hover:bg-gray-800/70 hover:shadow-md'
    >Retirar</a
  >
  <a
    href='/transferir'
    class='bg-gray-800 text-white p-2 rounded-sm w-52 text-center transition-colors duration-150 hover:bg-gray-800/70 hover:shadow-md'
    >Transferir a otra cuenta</a
  >
</nav>
